parameters:
    checkMissingIterableValueType: true
    inferPrivatePropertyTypeFromConstructor: true
    checkGenericClassInNonGenericObjectType: false

    level: max

    paths:
        - src/
        - tests/

    ignoreErrors: []

includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/jangregor/phpstan-prophecy/extension.neon
